@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Akira Expanded";
  src: url("/fonts/AkiraExpanded-SuperBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend Zetta";
  src: url("/fonts/LexendZetta-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Akira Expanded", sans-serif;
  font-weight: bold;
}
.font-lexend {
  font-family: "Lexend Zetta", sans-serif;
}
